header {
  position: fixed;
  top: 0;
  width: 100%;
  // background-color: #ffffff7e;
  background-color: #fff;
  border-bottom: 1px solid;
  z-index: 50;
  .container {
    position: relative;
  }
  .header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      display: flex;
      gap: 40px;
      align-items: center;
      img {
        width: 100px;
      }
      h1 {
        background: #ff0000;
        background: radial-gradient(
          circle farthest-corner at center center,
          #ff0000 24%,
          #000000 86%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 300px;
      }
    }
    nav {
      display: flex;
      gap: 40px;
      a {
        font-size: 20px;
        text-decoration: none;
        color: #000;
        height: 30px;
      }
      .active {
        color: red;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: red;
          bottom: -8px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &__btns {
      display: flex;
      gap: 20px;
      button {
        padding: 6px 10px;
        font-size: 16px;
        background: transparent;
        border: 1px solid red;
        border-radius: 7px;
        color: red;
        transition: 0.3s;
        transform: scale(1);

        &:hover {
          color: #fff;
          background: red;
          transform: scale(1.1);
        }
      }
    }

    &__photoUser {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }
    h3 {
      background-color: blue;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      cursor: pointer;
      font-weight: 500;
    }
    &__profile {
      position: absolute;
      right: 20px;
      background-color: #fff;
      top: 100px;
      border: 1px solid;
      border-radius: 10px;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: 0.1s;
      align-items: center;
      p {
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
